In [1]:
import pandas as pd
import src.nlp as nlp
import importlib
importlib.reload(nlp)
import gensim.downloader as api

In [2]:
data = pd.read_csv('../../data/processed_data/preprocessed_questions.csv')

In [3]:
data

           qid                                    vector_question
0            1  ['step', 'step', 'guide', 'invest', 'share', '...
1            3    ['story', 'kohinoor', 'koh', 'noor', 'diamond']
2            5  ['increase', 'speed', 'internet', 'connection'...
3            7                    ['mentally', 'lonely', 'solve']
4            9  ['dissolve', 'water', 'quikly', 'sugar', 'salt...
...        ...                                                ...
772998  789793  ['keyword', 'perl', 'programming', 'language',...
772999  789795                          ['true', 'life', 'death']
773000  789797                                           ['coin']
773001  789799  ['have', 'little', 'hairfall', 'problem', 'wan...
773002  789801                          ['like', 'sex', 'cousin']

[773003 rows x 2 columns]

In [4]:
model = api.load("glove-twitter-25")
print(model)

KeyedVectors<vector_size=25, 1193514 keys>

In [5]:
table = []
data["vector"]= data["vector_question"].apply(lambda x : nlp.word_vec(x,model,table))

In [6]:
len(table)

881

In [7]:
data

,qid,vector_question,vector
0,1,"['step', 'step', 'guide', 'invest', 'share', '...","[0.6154762, -0.20584768, -0.13993306, 0.021061..."
1,3,"['story', 'kohinoor', 'koh', 'noor', 'diamond']","[0.6986762, -0.19018674, -0.016607115, 0.25502..."
2,5,"['increase', 'speed', 'internet', 'connection'...","[0.6518189, -0.25972918, -0.13195999, 0.005287..."
3,7,"['mentally', 'lonely', 'solve']","[0.57746315, -0.24105825, -0.22027902, 0.14828..."
4,9,"['dissolve', 'water', 'quikly', 'sugar', 'salt...","[0.5891566, -0.14058551, -0.12285278, 0.091852..."
...,...,...,...
772998,789793,"['keyword', 'perl', 'programming', 'language',...","[0.6051509, -0.0771248, -0.101414055, -0.00576..."
772999,789795,"['true', 'life', 'death']","[0.57238656, -0.19273913, -0.16352256, 0.02696..."
773000,789797,['coin'],"[0.40368885, -0.40503123, 0.0060297474, 0.1369..."
773001,789799,"['have', 'little', 'hairfall', 'problem', 'wan...","[0.5453015, -0.14549695, -0.18995084, 0.063944..."
773002,789801,"['like', 'sex', 'cousin']","[0.55894786, -0.31426394, -0.042340003, 0.0206..."

In [8]:
data = data[["qid","vector"]]

In [9]:
data.to_csv("../../data/processed_data/processed_questions.csv", index=False)