In [9]:
import pandas as pd
import src.utils as utils
import importlib
importlib.reload(utils)

In [10]:
questions = pd.read_csv('../../data/processed_data/processed_questions.csv')
data = pd.read_csv('../../data/raw_data/clean_data.csv')

In [11]:
questions

           qid                                             vector
0            1  [ 6.1547619e-01 -2.0584768e-01 -1.3993306e-01 ...
1            3  [ 0.6986762  -0.19018674 -0.01660712  0.255029...
2            5  [ 6.5181887e-01 -2.5972918e-01 -1.3195999e-01 ...
3            7  [ 0.57746315 -0.24105825 -0.22027902  0.148281...
4            9  [ 0.5891566  -0.14058551 -0.12285278  0.091852...
...        ...                                                ...
772998  789793  [ 0.6051509  -0.0771248  -0.10141405 -0.005769...
772999  789795  [ 0.57238656 -0.19273913 -0.16352256  0.026960...
773000  789797  [ 0.40368885 -0.40503123  0.00602975  0.136909...
773001  789799  [ 0.5453015  -0.14549695 -0.18995084  0.063944...
773002  789801  [ 0.55894786 -0.31426394 -0.04234     0.020683...

[773003 rows x 2 columns]

In [12]:
data

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
370389,404346,789792,789793,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
370390,404347,789794,789795,Do you believe there is life after death?,Is it true that there is life after death?,1
370391,404348,789796,789797,What is one coin?,What's this coin?,0
370392,404349,789798,789799,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
370393,404350,789800,789801,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [13]:
data = utils.question_to_dataset(questions,data,source="vector",to="vector")

In [14]:
data= data [["vector1","vector2","is_duplicate"]]

In [15]:
data

,vector1,vector2,is_duplicate
0,[ 6.1547619e-01 -2.0584768e-01 -1.3993306e-01 ...,[ 6.59969270e-01 -2.34099537e-01 -1.73143327e-...,0
1,[ 0.6986762 -0.19018674 -0.01660712 0.255029...,[ 0.66760707 -0.18535142 -0.06255767 0.143376...,0
2,[ 6.5181887e-01 -2.5972918e-01 -1.3195999e-01 ...,[ 0.6392761 -0.2693284 -0.14859273 0.021426...,0
3,[ 0.57746315 -0.24105825 -0.22027902 0.148281...,[ 0.45756692 -0.16068357 -0.14937708 0.019454...,0
4,[ 0.5891566 -0.14058551 -0.12285278 0.091852...,[ 0.51694465 -0.1532621 -0.21871626 -0.031842...,0
...,...,...,...
370389,[ 0.6120544 -0.08026706 -0.11120206 0.005097...,[ 0.6051509 -0.0771248 -0.10141405 -0.005769...,0
370390,[ 0.5858043 -0.19736733 -0.06349304 -0.052130...,[ 0.57238656 -0.19273913 -0.16352256 0.026960...,1
370391,[ 0.40368885 -0.40503123 0.00602975 0.136909...,[ 0.40368885 -0.40503123 0.00602975 0.136909...,0
370392,[ 0.5234132 -0.13860296 -0.17368013 0.092954...,[ 0.5453015 -0.14549695 -0.18995084 0.063944...,0
370393,[ 0.55894786 -0.31426394 -0.04234 0.020683...,[ 0.55894786 -0.31426394 -0.04234 0.020683...,0

In [16]:
data.to_csv("../../data/processed_data/processed_data.csv", index=False)